@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Đăng nhập";
}

<hgroup>
    <h1 class="text-danger">Tài khoản bị khóa!</h1>
    <h2 class="text-danger">Hãy liên hệ với người quản trị để mở khóa!</h2>
</hgroup>
